<section class="about" >
	<div class="container">
		<div class="columns is-desktop is-align-items-center">
			<div class="column is-6-desktop">
				<div class="about-img" data-aos="fade-right" data-aos-delay="200" style="line-height: 0">
					<img src="images/about/home-8.jpg" alt="" class="">
				</div>
			</div>
			<div class="column is-6-desktop">
				<div class="about-item">
					<h2 class="mt-3 mb-4 font-secondary"> Forget about <br>design limits! Build and customize your portfolio</h2>
					<p class="mb-5">We provide consulting services in the area of IFRS and management reporting, helping companies to reach their highest level. We optimize business processes, making them easier.</p>

					<a href="#" class="btn btn-main">Get started</a>
				</div>
			</div>
		</div>
	</div>
</section>