<!-- section Counter Start -->
<section class="counter bg-counter">
	<div class="container">
		<div class="columns is-touch is-multiline">
			<div class="column is-3-desktop is-6-tablet">
				<div class="counter-item is-flex is-align-items-center is-justify-content-center" data-aos="fade-up" data-aos-delay="100">
					<i class="ti-check has-text-white text-md"></i>
					<div class="ml-5">
						<h3 class="mt-2 mb-0 has-text-white"><span class="counter-stat">1730</span></h3>
						<p class="text-white-50 mb-0">Project Done</p>
					</div>
				</div>
			</div>
			<div class="column is-3-desktop is-6-tablet">
				<div class="counter-item is-flex is-align-items-center is-justify-content-center" data-aos="fade-up" data-aos-delay="200">
					<i class="ti-flag has-text-white text-md"></i>
					<div class="ml-5">
						<h3 class="mt-2 mb-0 has-text-white"><span class="counter-stat ">125 </span>M </h3>
						<p class="text-white-50 mb-0">User Worldwide</p>
					</div>
				</div>
			</div>
			<div class="column is-3-desktop is-6-tablet">
				<div class="counter-item is-flex is-align-items-center is-justify-content-center" data-aos="fade-up" data-aos-delay="300">
					<i class="ti-layers has-text-white text-md"></i>
					<div class="ml-5">
						<h3 class="mt-2 mb-0 has-text-white"><span class="counter-stat">39</span></h3>
						<p class="text-white-50 mb-0">Available Country</p>
					</div>
				</div>
			</div>
			<div class="column is-3-desktop is-6-tablet">
				<div class="counter-item is-flex is-align-items-center is-justify-content-center" data-aos="fade-up" data-aos-delay="400">
					<i class="ti-medall has-text-white text-md"></i>
					<div class="ml-5">
						<h3 class="mt-2 mb-0 has-text-white"><span class="counter-stat">14</span></h3>
						<p class="text-white-50 mb-0">Award Winner </p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- section Counter End  -->