<section class="section pt-0 cta">
	<div class="container">
		<div class="columns is-justify-content-center">
			<div class="column is-8-widescreen is-9-desktop is-11-tablet has-text-centered">
				<span>For Every type business</span>
				<h2 class="mt-5 mb-6">Entrust your project to our best team of professionals</h2>
				<a href="contact.html" class="btn btn-main m-1">Let's Talk</a>
				<a href="service.html" class="btn btn-main-border text-black m-1">Services</a>
			</div>
		</div>
	</div>
</section>