<!-- footer Start -->
<footer class="footer section">
	<div class="container">
		<div class="columns is-multiline is-justify-content-center">
			<div class="column is-4-desktop is-5-tablet">
				<div class="widget mb-0">
					<div class="logo mb-4">
						<h2 class="has-text-white" style="font-size:2rem">Enov.</h2>
					</div>
					<a href="mailto:support@themefisher.com" class="has-text-white">support@themefisher.com</a>
					<p class="mt-4 mb-3">290 Maryam Springs 260, Courbevoie, <br> Paris, France</p>
					<a href="tel:+23-456-6588"><span class="has-text-white h4">+23-456-6588</span></a>
				</div>
			</div>

			<div class="column is-2-desktop is-5-tablet">
				<div class="widget has-text-white mb-0">
					<h4 class="text-capitalize mb-4 has-text-white">Company</h4>

					<ul class="list-unstyled footer-menu lh-35">
						<li><a href="#">Terms & Conditions</a></li>
						<li><a href="#">Privacy Policy</a></li>
						<li><a href="#">Support</a></li>
						<li><a href="#">FAQ</a></li>
					</ul>
				</div>
			</div>
			<div class="column is-2-desktop is-5-tablet">
				<div class="widget mb-0">
					<h4 class="text-capitalize mb-4 has-text-white">Quick Links</h4>

					<ul class="list-unstyled footer-menu lh-35">
						<li><a href="#">About</a></li>
						<li><a href="#">Services</a></li>
						<li><a href="#">Team</a></li>
						<li><a href="#">Contact</a></li>
					</ul>
				</div>
			</div>
			<div class="column is-2-desktop is-5-tablet">
				<div class="widget mb-0">
					<h4 class="text-capitalize mb-4 has-text-white">Follow us</h4>
					<ul class="list-unstyled footer-socials">
						<li><a href="https://www.facebook.com/themefisher"><i class="ti-facebook mr-2 text-muted"></i>facebook</a></li>
						<li><a href="https://twitter.com/themefisher"><i class="ti-twitter mr-2 text-muted"></i>Twitter</a></li>
						<li><a href="https://github.com/themefisher/"><i class="ti-github mr-2 text-muted"></i>Github</a></li>
						<li><a href="https://dribbble.com/themefisher/"><i class="ti-dribbble mr-2 text-muted"></i>Dribble</a></li>
					</ul>
					
				</div>
			</div>
		</div>
		
		<div class="footer-btm pt-4 pb-3">
			<div class="columns is-justify-content-center">
				<div class="column has-text-centered">
					<div class="copyright">
						<p>&copy; Copyright 2020 Design &amp; Developed by <a href="https://themefisher.com/" target="_blank" class=" has-text-white">Themefisher</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>