<div class="sidebar-wrap">
   <div class="sidebar-widget search mb-6">
      <input type="text" class="input" placeholder="search">
      <a href="#" class="btn btn-main is-block has-text-centered mt-2">search</a>
   </div>
   <div class="sidebar-widget mb-6 has-text-centered">
      <img src="images/blog/abou-us.png" alt="" class=" mx-auto">
      <h4 class="mb-2 mt-4">Arther Conal</h4>
      <ul class="list-inline author-socials mb-3">
         <li class="list-inline-item mr-4">
            <a href="#"><i class="fab fa-facebook-f text-muted"></i></a>
         </li>
         <li class="list-inline-item mr-4">
            <a href="#"><i class="fab fa-twitter text-muted"></i></a>
         </li>
         <li class="list-inline-item mr-4">
            <a href="#"><i class="fab fa-linkedin-in text-muted"></i></a>
         </li>
         <li class="list-inline-item mr-4">
            <a href="#"><i class="fab fa-pinterest text-muted"></i></a>
         </li>
         <li class="list-inline-item mr-4">
            <a href="#"><i class="fab fa-behance text-muted"></i></a>
         </li>
      </ul>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, dolore.</p>
   </div>
   <div class="sidebar-widget latest-post mb-6">
      <h5 class="has-text-centered mb-4">Latest Posts</h5>
      <div class="is-flex border-bottom py-3" style="border-color:#ddd">
         <a href="#"><img class="rounded" src="images/blog/bt-3.jpg" alt=""></a>
         <div class="ml-5">
            <h6 class="mb-1"><a href="#">Thoughtful living in los Angeles</a></h6>
            <span class="text-sm text-muted">03 Mar 2018</span>
         </div>
      </div>
      <div class="is-flex border-bottom py-3" style="border-color:#ddd">
         <a href="#"><img class="rounded" src="images/blog/bt-1.jpg" alt=""></a>
         <div class="ml-5">
            <h6 class="mb-1"><a href="#">Vivamus molestie gravida turpis.</a></h6>
            <span class="text-sm text-muted">03 Mar 2018</span>
         </div>
      </div>
      <div class="is-flex py-3">
         <a href="#"><img class="rounded" src="images/blog/bt-2.jpg" alt=""></a>
         <div class="ml-5">
            <h6 class="mb-1"><a href="#">Vivamus molestie gravida turpis.</a></h6>
            <span class="text-sm text-muted">03 Mar 2018</span>
         </div>
      </div>
   </div>
   <div class="sidebar-widget category mb-4">
      <h5 class="mb-4 has-text-centered">Catgeory</h5>
      <ul class="list-group">
         <li>
            <a href="#!" class="is-flex is-justify-content-space-between is-align-items-center">
            Cras justo odio
            <span class="count">14</span>
            </a>
         </li>
         <li>
            <a href="#!" class="is-flex is-justify-content-space-between is-align-items-center">
            Dapibus ac facilisis in
            <span class="count">2</span>
            </a>
         </li>
         <li>
            <a href="#!" class="is-flex is-justify-content-space-between is-align-items-center">
            Morbi leo risus
            <span class="count">1</span>
            </a>
         </li>
      </ul>
   </div>
   <div class="sidebar-widget tags mb-3">
      <h5 class="mb-4 has-text-centered w-100">Tags</h5>
      <div>
         <a href="#">Web</a>
         <a href="#">agency</a>
         <a href="#">company</a>
         <a href="#">creative</a>
         <a href="#">html</a>
         <a href="#">Marketing</a>
         <a href="#">Social Media</a>
         <a href="#">Branding</a>
      </div>
   </div>
</div>