<!--  Section Services Start -->
<section class="section service">
   <div class="container">
      <div class="columns is-multiline is-justify-content-center">
         <div class="column is-4-desktop is-6-tablet">
            <div class="is-flex" data-aos="fade-up" data-aos-delay="200">
               <i class="ti-desktop text-lg"></i>
               <div class="ml-5">
                  <h4 class="mb-3">Web development.</h4>
                  <p>A digital agency isn't here to replace your internal team, we're here to make you partner</p>
               </div>
            </div>
         </div>
         <div class="column is-4-desktop is-6-tablet">
            <div class="is-flex" data-aos="fade-up" data-aos-delay="300">
               <i class="ti-layers text-lg"></i>
               <div class="ml-5">
                  <h4 class="mb-3">Interface Design.</h4>
                  <p>A digital agency isn't here to replace your internal team, we're here to make you partner</p>
               </div>
            </div>
         </div>
         <div class="column is-4-desktop is-6-tablet">
            <div class="is-flex" data-aos="fade-up" data-aos-delay="400">
               <i class="ti-bar-chart text-lg"></i>
               <div class="ml-5">
                  <h4 class="mb-3">Business Consulting.</h4>
                  <p>A digital agency isn't here to replace your internal team, we're here to make you partner</p>
               </div>
            </div>
         </div>
         <div class="column is-4-desktop is-6-tablet">
            <div class="is-flex" data-aos="fade-up" data-aos-delay="600">
               <i class="ti-vector text-lg"></i>
               <div class="ml-5">
                  <h4 class="mb-3">Branding.</h4>
                  <p>A digital agency isn't here to replace your internal team, we're here to make you partner</p>
               </div>
            </div>
         </div>
         <div class="column is-4-desktop is-6-tablet">
            <div class="is-flex" data-aos="fade-up" data-aos-delay="700">
               <i class="ti-android text-lg"></i>
               <div class="ml-5">
                  <h4 class="mb-3">App development.</h4>
                  <p>A digital agency isn't here to replace your internal team, we're here to make you partner</p>
               </div>
            </div>
         </div>
         <div class="column is-4-desktop is-6-tablet">
            <div class="is-flex" data-aos="fade-up" data-aos-delay="800">
               <i class="ti-pencil-alt text-lg"></i>
               <div class="ml-5">
                  <h4 class="mb-3">Content creation.</h4>
                  <p>A digital agency isn't here to replace your internal team, we're here to make you partner</p>
               </div>
            </div>
         </div>
         <div class="column is-4-desktop is-6-tablet">
            <div class="is-flex  mb-lg-0" data-aos="fade-up" data-aos-delay="600">
               <i class="ti-bar-chart text-lg"></i>
               <div class="ml-5">
                  <h4 class="mb-3">Business Consulting.</h4>
                  <p>A digital agency isn't here to replace your internal team, we're here to make you partner</p>
               </div>
            </div>
         </div>
         <div class="column is-4-desktop is-6-tablet">
            <div class="is-flex mb-lg-0" data-aos="fade-up" data-aos-delay="700">
               <i class="ti-vector text-lg"></i>
               <div class="ml-5">
                  <h4 class="mb-3">Branding.</h4>
                  <p>A digital agency isn't here to replace your internal team, we're here to make you partner</p>
               </div>
            </div>
         </div>
         <div class="column is-4-desktop is-6-tablet">
            <div class="is-flex mb-lg-0" data-aos="fade-up" data-aos-delay="800">
               <i class="ti-android text-lg"></i>
               <div class="ml-5">
                  <h4 class="mb-3">App development.</h4>
                  <p>A digital agency isn't here to replace your internal team, we're here to make you partner</p>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<!--  Section Services End -->