<section class="slider">
   <div class="container">
      <div class="columns is-justify-content-center">
         <div class="column is-9-widescreen is-12-desktop">
            <div class="has-text-centered">
               <span class="is-block mb-4 is-uppercase">Prepare for new future</span>
               <h1 class="animated fadeInUp mb-6 has-text-white">Helping customers be their best in the moments that matter.</h1>
               <a href="#!" class="btn btn-main animated fadeInUp m-1" >Get started<i class="btn-icon fa fa-angle-right ml-2"></i></a>
               <a href="#!" class="btn btn-solid-border animated fadeInUp m-1" >Discover Sulfur</a>
            </div>
         </div>
      </div>
   </div>
</section>
<section class="mt--6 is-relative slider-cta">
   <div class="container">
      <div class="columns is-desktop is-align-items-center bg-primary rounded">
         <div class="column is-8-desktop">
            <h3 class="mb-4 has-text-white">We are crafting visually stunning memorable experiences and numquam for the web.</h3>
            <p class="text-white-50">Magni perspiciatis sequi, molestias dignissimos numquam placeat eveniet nobis rerum eos, facilis minus, est illo adipisci soluta dolores quisquam, praesentium ab corrupti!</p>
         </div>
         <div class="column is-4-desktop has-text-right">
            <a href="#!" class="btn btn-white mb-0">Learn more</a>
         </div>
      </div>
   </div>
</section>